:root {
    --lightgray: #efefef;
    --blue: steelblue;
    --white: #fff;
    --black: rgba(0, 0, 0, 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.title{
    text-align: center;
    margin-top: 25px;
}

.form{
    margin: auto;
    max-width:500px;
    text-align: center
}

input[type='submit'], button, [aria-label]{
    cursor: pointer;
}
#edit-box{
    display: none;
    margin: auto;
    margin-top: 10px;
    text-align: center
}

h2{
    margin: auto;
	padding: 10px;
}

#item-list {
    border: 1px solid gray;
	background: #F2EBD9;
	color: #624630;
    list-style: none;
    padding: 10px;
}
.container{
    max-width:800px;
    margin: auto;
}

.item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--todo-bg-color);
  padding: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item:last-child {
	border: none;
}
.btn.btn-warning {
    margin-left: auto;
    background-color: rgb(95, 160, 104);
}

.btn.btn-primary {
    background-color: rgb(243, 247, 17);
}

.btn.btn-info {
    background-color: rgb(235, 149, 51);
}


.btn.btn-danger {
  float: right;
  background-color: rgb(236, 10, 10);
}


.item:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #F13F3F;
}

.pagination-btn.next, .pagination-btn.prev {
    background-color: lightcoral;
    color: black;
}

.btn {
    display: inline;
    border-radius: 4px;
    background-color: #7bcde9;
}

.current-page {
    background-color: skyblue;
    color: black;
}

.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
.modal-dialog {
position: relative;
max-width: 800px;
max-height: 80vh;
border-radius: 5px;
background: var(--white);
overflow: auto;
cursor: default;
}

.modal.is-visible {
visibility: visible;
opacity: 1;
}

.modal-dialog > * {
    padding: 1rem;
  }
   
.modal-header {
background: var(--lightgray);
display: flex;
align-items: center;
justify-content: space-between;
}
   
 
   
.modal-header .modal-close {
font-size: 1.5rem;
}

[data-animation="slideInOutLeft"] .modal-dialog {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s var(--bounceEasing);
}

td{
    background-color: aliceblue;
    padding-right: 10px;
    text-align: left;
}

